<div class="form-group">
    <label for="content"  class="col-sm-2 control-label">分配情况</label>
    <div  class="col-sm-10">
        <table class="table">
            <tr>
                <th width="10%">类型</th>
                <th width="10%">操作人</th>
                <th width="10%">分配人</th>
                <th width="15%">处理状态</th>
                <th width="">备注</th>
            </tr>                    
            {%for a in als%}
            <tr>
                <td>{{a.get_operator_duty}}</td>
                <td>{{a.operator_data.user.first_name}}({{a.operator}})</td>
                <td>{{a.alloter_data.user.first_name}}({{a.alloter}})</td>
                
                <td>{{a.get_result }}</td>
                 <td>{{a.operate_remark|default_if_none:''|linebreaksbr}}</td>
                 </tr>
        {%endfor%}
        </table>
    </div>
</div>