{%extends 'base.html'%}
{% block main %}
<div class="row">
    <div class="col-md-1 col-sm-1">
        <div class="sidebar">
            <ul class="nav nav-sidebar">
            {%for c in apply_categories%}
                <li id="second_{{c.short_tag}}" role="presentation"><a href="/helpdesk/{{c.short_tag}}/apply">{{c.name}}</a></li>
            {%endfor%}
                
            </ul>
        </div>
    </div>
    <div class="col-md-11 col-sm-11">
    {%block right%}
    {%endblock right%}
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $("#first_apply").attr('class', 'active');
    })
</script>
{%endblock main%}