{%extends 'apply/allot_base.html'%}
{%block content%}
    <table class="table">
        <tr>
            <th>UUID</th>
            <th>姓名</th>
            <th>Email</th>
            <th>提交时间</th>
            <th>状态</th>
            <th></th>
        </tr>
    {%for a in p.object_list%}
    <tr>
        <td><a href="/helpdesk/{{apply_category}}/allot/view?uuid={{a.pk}}">{{a.uuid}}</a></td>
        <td>{{a.name}}</td>
        <td>{{a.email}}</td>
        <td>{{a.apply_time|date:"Y-m-d H:i:s"}}</td>
        <td>{{a.get_status}}</td>
         <td><button onclick="javascript:window.location.href='/helpdesk/{{apply_category}}/allot/view?uuid={{a.uuid}}'" class="btn btn-info btn-xs">查看</button></td>
    </tr>

    {%endfor%}

    </table>

      {%include 'include/page.html'%} 


<script type="text/javascript">
  $(function(){
    $("#third_allot").attr('class','active');
  })
</script>
{%endblock%}